<section class="sp_panel">
    <div class="container">
        <h3 style="text-align:center" id="card_title"><%= resource['card_title']%></h3>
        <br>
        <h4 style="text-align:center">Click <a id="card_url" href="<%= resource['pdf_url']%>" target="_blank">HERE</a> to open PDF in new tab</h4>
        <br>
        <% if(resource['pdf_url']) {%>
            <object id="card_view" data="<%= resource['pdf_url']%>" type="application/pdf" width="100%" height="600px" style="border:2px solid black;">
            </object>
        <% }%>
    </div>
</section>

