<home class="">
    <page-header backlinktext="Explore Different Photos" data-backurl="/" class="ng-isolate-scope">
        <div id="PageHeader">
            <a id="HeaderBackLink" ng-if="model.backlinktext" gtm-event="['ux', 'backButton', model.backlinktext]" class="" data-t="ux" data-d1="backButton" data-d2="Select a Different Photo">
                <span id="HeaderLeftArrow" class="material-icons">keyboard_arrow_left</span>
                <span id="HeaderBackLinkText" class="ng-binding" data-url="/photo">Dos</span>
            </a>
            <h1 id="HeaderPageTitle" class="ng-binding">Sélectionnez une photo à peindre</h1>
        </div>
    </page-header>
    <div id="PhotoChooser" data-label="Room Chooser">
  
    <div id="TileContainer">
        <% for (idx in libraries) { %>
        <a class="" data-src="<%= libraries[idx] %>">
            <tile>
                <div id="TileCell" class="HasText">
                    <div id="TileImageLoading" class="TileImage">
                        <div class="TileImageLoader">
                            <div class="imageLoading-color color-1"></div>
                            <div class="imageLoading-color color-2"></div>
                            <div class="imageLoading-color color-3"></div>
                            <div class="imageLoading-color color-4"></div>
                        </div>
                        <img id="TileImage" scroll-loaded-image="" src="/img/library/<%=dirIndex%>/<%=libraries[idx]%>" height="150px" alt="" style="">
                    </div>
                    <!-- <h4 name="TileText" class=""><%= namelist[idx] %></h4> -->
                </div>
            </tile>
        </a>
        <% } %>
    </div>
  
  </div>
  </home>