<stock-photo class="ng-scope ng-isolate-scope">
    <page-header headline="Visualize Your Room" backlinktext="Find More Colors" data-backurl="/Colors" data-subheadline="Click a wall to paint the selected color." class="ng-isolate-scope">
        <div id="PageHeader">
            <!-- ngIf: model.backlinktext -->
            <a id="HeaderBackLink" ng-click="model.BackAction()" ng-if="model.backlinktext" gtm-event="['ux', 'backButton', model.backlinktext]" class="ng-scope ng-isolate-scope" data-t="ux" data-d1="backButton" data-d2="Find More Colors" style="">
                <span id="HeaderLeftArrow" class="material-icons">keyboard_arrow_left</span>
                <span id="HeaderBackLinkText" class="ng-binding" data-url="/color">Find More Colors</span>
            </a><!-- end ngIf: model.backlinktext -->
            <h1 id="HeaderPageTitle" class="ng-binding">Visualize Your Room</h1>
            <!-- ngIf: model.subheadline -->
            <span id="HeaderPageSubTitle" ng-if="model.subheadline" class="ng-binding ng-scope" style="">Click a wall to paint the selected color.</span><!-- end ngIf: model.subheadline -->
        </div>
    </page-header>
    <div id="MainContentLeftPane">
        <div id="StockPhotoSelectedColor">
            <color-selector page-data="model.PageData.Data" class="ng-isolate-scope"><span id="ColorSelectorSelectedColor" class="ng-binding">JACK RABBIT&nbsp;&nbsp;PPG1014-4</span>
                <div id="ColorSelector">
                    <!-- ngIf: model.SavedColorsCount > 5 -->
                    <div id="ColorSelectorContainer" color-selector-resize="" style="width: 0px;">
                        <!-- ngRepeat: color in model.DisplayedColors --><div ng-repeat="color in model.DisplayedColors" ng-class="model.ItemsCss()" class="ng-scope columns count-5" style="">
                            <div id="ColorSelectorSwatchA" ng-click="model.SelectColor(color)">
                                <div id="ColorSelectorSwatch" ng-style="{'background-color': color.CssColor}" data-ppg-name="JACK RABBIT" data-ppg-number="PPG1014-4" title="JACK RABBIT - PPG1014-4" style="background-color: rgb(192, 178, 177);">
                                    <!-- ngIf: model.pageData.SelectedColor.ColorID === color.ColorID --><span class="material-icons ng-scope" ng-class="model.GetIsDarkCss(color)" ng-if="model.pageData.SelectedColor.ColorID === color.ColorID">check_circle</span><!-- end ngIf: model.pageData.SelectedColor.ColorID === color.ColorID -->
                                </div>
                            </div>
                        </div><!-- end ngRepeat: color in model.DisplayedColors --><div ng-repeat="color in model.DisplayedColors" ng-class="model.ItemsCss()" class="ng-scope columns count-5">
                            <div id="ColorSelectorSwatchA" ng-click="model.SelectColor(color)">
                                <div id="ColorSelectorSwatch" ng-style="{'background-color': color.CssColor}" data-ppg-name="SILVER SCREEN" data-ppg-number="PPG1014-3" title="SILVER SCREEN - PPG1014-3" style="background-color: rgb(224, 221, 221);">
                                    <!-- ngIf: model.pageData.SelectedColor.ColorID === color.ColorID -->
                                </div>
                            </div>
                        </div><!-- end ngRepeat: color in model.DisplayedColors -->
                    </div>
                    <!-- ngIf: model.SavedColorsCount > 5 -->
                </div>
                </color-selector>
        </div>
        <div id="StockPhotoMain">
            <div id="StockPhotoImg" style="position:relative;margin:0 auto;">
                <!-- <ppg-canvas ng-model="model.CanvasData" class="StockPhotoCanvas ng-pristine ng-untouched ng-valid ng-not-empty" style="">
                    <canvas id="ImageCanvas" style="max-width: 100%;" width="375" height="500">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                    <canvas class="ZoomCanvas" id="ZoomCanvas" width="100" height="100" style="border:1px solid #d3d3d3;visibility:hidden;z-index:20;">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                    <canvas id="OverlayCanvas" style="max-width: 100%; position:absolute;top:0px;z-index:10;visibility:visible;" width="375" height="500">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </ppg-canvas> -->
            </div>
            <div id="StockPhotoFooter" class="UploadRoboMedium">
                <div id="StockPhotoReset" class="StockPhotoFooterItem left">
                    <span class="material-icons StockPhotoIcon">replay</span>
                    <span class="ng-binding">Reset</span>
                </div>
                <div id="StockPhotoUndo" class="StockPhotoFooterItem left">
                    <span class="material-icons StockPhotoIcon">undo</span>
                    <span class="ng-binding">Undo</span>
                </div>
                <div id="StockPhotoRedo" class="StockPhotoFooterItem left">
                    <span class="material-icons StockPhotoIcon">redo</span>
                    <span class="ng-binding">Redo</span>
                </div>
                <div id="StockPhotoPaint" class="StockPhotoFooterItem left">
                    <span class="material-icons StockPhotoIcon">format_paint</span>
                    <span class="ng-binding">Paint</span>
                </div>
                <div id="StockPhotoPolygon" class="StockPhotoFooterItem left">
                    <span class="material-icons StockPhotoIcon">drive_file_rename_outline</span>
                    <span class="ng-binding">Edit Area</span>
                </div>
                <div id="StockPhotoBrush" class="StockPhotoFooterItem left">
                    <span class="material-icons StockPhotoIcon">brush</span>
                    <span class="ng-binding">Brush</span>
                </div>
                <div id="StockPhotoZoomIn" class="StockPhotoFooterItem right">
                    <span class="material-icons StockPhotoIcon">zoom_in</span>
                </div>
                <div id="StockPhotoZoomOut" class="StockPhotoFooterItem right">
                    <span class="material-icons StockPhotoIcon">zoom_out</span>
                </div>
                <!-- <a id="StockPhotoChange" class="StockPhotoFooterItem right UploadRoboMedium ng-isolate-scope" ng-click="model.NewPhoto()" gtm-event="['ux', 'change photo']" data-t="ux" data-d1="change photo">
                    <span class="ng-binding">Change Your Photo</span>
                </a>            -->
            </div>
            <div id="StockPhotoChangeFooter" ng-class="(model.PageData.Data.ShowOrderChipsAlways &amp;&amp; model.ProjectServ.Project.AppliedColors.length > 0)? 'Extend' : ''">
                <div id="StockPhotoShare" ng-class="{'noColors': model.ProjectServ.Project.Colors.length == 0, 'invisible': model.ProjectServ.Project.AppliedColors.length == 0}" class="invisible" style="">
                    <social-shares class="ng-isolate-scope">
                        <div id="PhotoShareText" class="SocialShareText"> <!--class="PhotoShareItem">-->
                            <span class="ng-binding">Share:</span>
                        </div>
                        <!-- ngIf: !model.HideSocial -->
                        <div class="PhotoShareItem ng-scope" id="PhotoFacebook" ng-click="model.Share('facebook')" ng-if="!model.HideSocial" style="">
                            <svg viewBox="0 0 512 512" class="StockPhotoSocialIcon"><path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path></svg>
                        </div><!-- end ngIf: !model.HideSocial -->
                        <!-- ngIf: !model.HideSocial -->
                        <div class="PhotoShareItem ng-scope" id="PhotoPinterest" ng-click="model.Share('pinterest')" ng-if="!model.HideSocial" style="">
                            <svg viewBox="0 0 512 512" class="PhotoSocialIcon"><path d="M266.6 76.5c-100.2 0-150.7 71.8-150.7 131.7 0 36.3 13.7 68.5 43.2 80.6 4.8 2 9.2 0.1 10.6-5.3 1-3.7 3.3-13 4.3-16.9 1.4-5.3 0.9-7.1-3-11.8 -8.5-10-13.9-23-13.9-41.3 0-53.3 39.9-101 103.8-101 56.6 0 87.7 34.6 87.7 80.8 0 60.8-26.9 112.1-66.8 112.1 -22.1 0-38.6-18.2-33.3-40.6 6.3-26.7 18.6-55.5 18.6-74.8 0-17.3-9.3-31.7-28.4-31.7 -22.5 0-40.7 23.3-40.7 54.6 0 19.9 6.7 33.4 6.7 33.4s-23.1 97.8-27.1 114.9c-8.1 34.1-1.2 75.9-0.6 80.1 0.3 2.5 3.6 3.1 5 1.2 2.1-2.7 28.9-35.9 38.1-69 2.6-9.4 14.8-58 14.8-58 7.3 14 28.7 26.3 51.5 26.3 67.8 0 113.8-61.8 113.8-144.5C400.1 134.7 347.1 76.5 266.6 76.5z"></path></svg>
                        </div><!-- end ngIf: !model.HideSocial -->
                        <!-- ngIf: model.ChineseSocial -->
                        <div class="PhotoShareItem material-icons" id="PhotoEmail" ng-click="model.openShareModal()">
                            <span>email</span>
                        </div>
                        <form id="SocialShareForm" method="post" target="_blank" class="ng-pristine ng-valid">
                            <input type="hidden" id="SocialShareForminstanceKey" name="instanceKey" value="ppgpaints">
                            <input type="hidden" id="SocialShareFormprojectId" name="projectId" value="e198e530-a350-4fa9-b61d-74f551cf3ce0">
                            <input type="hidden" id="SocialShareFormblobUrl" name="blobUrl" value="https://visualizecolor.blob.core.windows.net/">
                            <input type="hidden" id="SocialShareFormshowColorNumber" name="showColorNumber" value="true">
                            <input type="hidden" id="SocialShareFormusedColors" name="usedColors" value="">
                            <input type="hidden" id="SocialShareFormuploadPhoto" name="uploadPhoto" value="">
                            <input type="hidden" id="SocialShareFormurl" name="url" value="">
                            <input type="hidden" id="SocialShareFormdescription" name="description" value="">
                            <input type="hidden" name="appKey" value="4210525423">
                        </form>
                    </social-shares>
                </div>
            </div>        
        </div>   
    </div>
    <!-- ngIf: model.PageData.Data.ShowOrderChipsAlways -->
</stock-photo>